<div class="container">

	<div class="toolbar">
		<div class="skeleton left"></div>
		<div class="skeleton right"></div>
	</div>

	<div class="bs-perm-skeleton-card">
		<div class="bs-perm-skeleton-card-img skeleton"></div>
		<div class="bs-perm-skeleton-card-data-cnt">
			<div class="bs-perm-skeleton-card-data-title skeleton"></div>
			<div class="bs-perm-skeleton-card-data-text skeleton"></div>
			<div class="bs-perm-skeleton-card-data-text skeleton"></div>
		</div>
	</div>

	<div class="bs-perm-skeleton-card">
		<div class="bs-perm-skeleton-card-img skeleton"></div>
		<div class="bs-perm-skeleton-card-data-cnt">
			<div class="bs-perm-skeleton-card-data-title skeleton"></div>
			<div class="bs-perm-skeleton-card-data-text skeleton"></div>
			<div class="bs-perm-skeleton-card-data-text skeleton"></div>
		</div>
	</div>

	<div class="bs-perm-skeleton-card">
		<div class="bs-perm-skeleton-card-img skeleton"></div>
		<div class="bs-perm-skeleton-card-data-cnt">
			<div class="bs-perm-skeleton-card-data-title skeleton"></div>
			<div class="bs-perm-skeleton-card-data-text skeleton"></div>
			<div class="bs-perm-skeleton-card-data-text skeleton"></div>
		</div>
	</div>

	<div class="bs-perm-skeleton-card">
		<div class="bs-perm-skeleton-card-img skeleton"></div>
		<div class="bs-perm-skeleton-card-data-cnt">
			<div class="bs-perm-skeleton-card-data-title skeleton"></div>
			<div class="bs-perm-skeleton-card-data-text skeleton"></div>
			<div class="bs-perm-skeleton-card-data-text skeleton"></div>
		</div>
	</div>
</div>